#nprogress .bar {
  background: #04c981;
}

#nprogress .peg {
  box-shadow: 0 0 10px #04c981, 0 0 5px #04c981;
}

#nprogress .spinner-icon {
  border-top-color: #04c981;
  border-left-color: #04c981;
}
